fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy[asyncio]==2.0.29
asyncpg==0.29.0
alembic
langchain
langchain-openai
langchain-google-genai
llama-index
qdrant-client
python-dotenv
asyncpg
sqlalchemy[asyncio]==2.0.29
python-jose[cryptography]==3.3.0
supabase==2.3.4
google-generativeai==0.4.1
pdfplumber
pytesseract
pillow
pytest
fpdf2
langchain-qdrant
requests
httpx
langchain-text-splitters
langchain-community
python-multipart
firebase-admin
