fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy[asyncio]==2.0.29
asyncpg==0.29.0
alembic
langchain
langchain-openai
langchain-google-genai
llama-index
qdrant-client
python-dotenv==1.0.1
httpx
python-jose[cryptography]==3.3.0
pdfplumber
pytesseract
pillow
pytest
fpdf2
